$page-content-grey: #FAFAFA;
$light-grey: #F0F0F0;
$dark-grey: #DEDEDE;
$dark-grey-2: #4F4F4F;
$highlight-blue: #BCD2EE;

html, body {
	font-family: 'Droid Sans', sans-serif;
}

a {
	text-decoration: none;
}

.header {
	margin: 10px 0 0 10px;
	font-size: 2.2em;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
}

.container {
	height: 85px;
}

.page {
	margin-top: 120px;

	.page-header {
		font-size: 1.5em;
		color: $dark-grey-2;
		border: none;
		margin: 0 0 0 25px;
		font-weight: bold;
	}
}

.tips-page {
	background-color: $page-content-grey;
	padding: 20px;
	margin: 25px;
	min-height: 300px;

	.edit {
		cursor: pointer;
		cursor: hand;
		margin-left: 20px;
	}
}

.single-service-page {
	background-color: $page-content-grey;
	padding: 20px;
	margin: 25px;

	.service-info-text {
		margin-left: 25px;
		font-family: 'Droid Sans', sans-serif;
		font-weight: 400;
		font-size: 1.1em;
	}

	.broadcast-groups {
		margin-top: 20px;
		min-height: 200px;

		.img-circle {
			cursor: pointer;
			cursor: hand;

			padding: 20px;
		    width: 170px;
		    height: 170px;
		    border: 1px solid $dark-grey-2;
		    border-radius: 700px;
		    -webkit-border-radius: 700px;
		    -moz-border-radius: 700px;

		    &:hover {
		    	background-color: $highlight-blue;
		    }
		}

		.broadcast-heading {
			margin-top: 10px;
			font-size: 16px;
			font-weight: 700;
		}
	}
}

.services-page {
	background-color: $page-content-grey;
	padding: 20px;
	margin: 25px;

	.time-options {
		margin-left: 20px;
	}

	.service-table {
		margin-left: auto;
		margin-right: auto;

		.service-info-text {
			margin-left: 25px;
			font-family: 'Droid Sans', sans-serif;
			font-weight: 400;
			font-size: 1.1em;
		}

		.service-row-container {
			cursor: pointer;
			cursor: hand;
			width: 70%;
			padding: 15px 15px 0 15px;
			background-color: $light-grey;
			margin-left: auto;
			margin-right: auto;
			font-family: 'Droid Sans', sans-serif;
			font-weight: 400;
			font-size: 1.2em;
			margin-top: 2px;

			.service-row {
				padding: 5px 0 18px 0;
				width: 100%;
				height: 50px;
				text-transform: uppercase;

				.service-item: {
					float: left;
				}
			}
		}
	}

	.service-button-container {
		margin-top: 25px;
		width: 100%;

		.service-button {
			width: 70%;
			height: 50px;
			margin: 0 auto;
			font-family: 'Droid Sans', sans-serif;
			font-weight: 400;
			font-size: 1.2em;
		}	
	}
}

.modal-dialog {
	.modal-header {
		font-size: 1.5em;
	}

	.modal-body {
		label {
			text-transform: uppercase;
		}

		input.form-control {
			padding: 22px;
		}
	}

	.modal-footer {
		.modal-positive-button {
			font-size: 0.9em;
		}

		.modal-negative-button {
			font-size: 0.9em;
		}
	}	
}


footer {
	position : absolute;
    height : 40px;
    margin-top : 40px;
    margin-left: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 0.85em;
}

.hvr-underline-from-center {
	display: block;
	border: 1px;
}