<div class="tips-page">
    <p class="page-header">{{service.serviceName | uppercase}}</p>

    <table class="table">
        <thead>
          <tr>
            <th>Tip</th>
            <th>Message</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tip in tips">
            <td>{{tip.key}}</td>
            <td>{{tip.msg}}</td>
            <td><div class="glyphicon glyphicon-pencil edit center-text" ng-click="createTip(tip)"></div></td>
          </tr> 
        </tbody>
      </table>

    <script type="text/ng-template" id="tipModal.html">
        <div class="modal-header">
            <h3 class="modal-title">
                <div ng-if="tip.msg">Edit Tip</div>
                <div ng-if="!tip.msg">New Tip</div>
            </h3>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="formTipKey">Key</label>
                <input type="text" class="form-control" ng-model="tip.key" id="formTipKey" >
              </div>
              <div class="form-group">
                <label for="formTipMsg">Message</label>
                <input type="text" class="form-control" ng-model="tip.msg" id="formTipMsg" >
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-default modal-negative-button" type="button" ng-click="cancel()">DISMISS</button>
            <button class="btn btn-lg btn-success modal-positive-button" type="button" ng-click="ok()">
                <div ng-if="tip.msg">UPDATE</div>
                <div ng-if="!tip.msg">NOTIFY</div>
            </button>
        </div>
    </script>

    <div class="service-button-container pull-right">
        <button class="service-button btn btn-lg btn-success" ng-click="createTip(tip)">CREATE</button>
    </div>
</div>